
*{
	font-family: 'Sulphur Point', sans-serif;
}

.bg-black{
	background-color: #07060b !important;
}

.bg-homepage{
	background-color: rgba(235,39,84,.5) !important;
}

.nav-logo{
	width: 50px;
	border-radius: 50%;
}
.alert{
	border-radius: 20px;
    padding: 20px;
	
	box-shadow: 0px 0px 4px 0px black;
}

.sidebar{
	background: #C8C8C8;
	color:white;
	height:100%;
}

body{
	background-color:rgba(17,17,17,1.00);
	transition: opacity .2s;
	opacity:100% !important;
}

.sb-header{
	margin:10px;
	
}
.sb-categories{
}


.sb-button{
	background-color: #20202063;
	min-width:120px;
	display: block;
	text-align: center;
	padding:10px;
	margin:10px;
	border-radius:50px;
	outline-color: transparent;
	outline-width: 2px;
	outline-style: solid;
	outline-offset: 3px;
	color:white;
	transition: background-color .2s, color .2s, outline-offset .4s, outline-color .4s;
}

.sb-button:hover{
	color:white;
	text-decoration: none;
	outline-color: hsla(0,0%,100%,.2);
	outline-width: 2px;
	outline-offset: -1px;
}

.sb-button:focus{
	
}

.sb-button-active{
	outline-color: hsla(0,0%,100%,.2);
	outline-width: 2px;
	outline-offset: -1px;
}

.sb-button-active:hover{
}

.main{
	
}

.arg{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	background-color: lightgray;
	padding: 2px;
	color:black;
}

.dropdown-menu{
	background-color:black;
	color:white;
}

.command{
	box-shadow: 0px 0px 4px 0px black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 16px;
	background:rgba(47,47,47,1.00);
	color:white;
}

.command-header-hr{
	border-top: 1px solid white;
}

.table{
    box-shadow: 0px 0px 4px 0px black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 16px;
	background:rgba(47,47,47,1.00);
	color:white;
}

thead{
	border-bottom: 2px solid gray;
}

.category-header{
	text-align:center;
	color:white;
	
}

.navbar{
	background-color: black;
}

.footer-credit{
	color:darkgray;
	text-align:center;
}

.home-commandgroup-list{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #090909;
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 10px;
}

.home-commandgroup-list .sb-button{
	background-color: #363636;
}

.dropdown-menu.show{
	border-radius: 20px;
}

.header-logo{
	margin:auto;
	display: block;
	max-width: 250px;
	width:30vw;
	border-radius: 50%;
}

.home-header{
	background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(57,8,19,.5) 35%, rgba(235,39,84,.5) 100%);
}